.home_style1 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.home_style2 {
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}

.home_style3 {
    color: #fff;
    font-weight: 600;
}

 .progress_bar {
     color: #3b99fc !important;
 }